html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.grid-cell {
  background-color: lightblue;
  border: 2px solid red;
}

.board-cell {
  background-color: white;
  border: 1px solid gray;
}

.selected-cell {
  background-color: #fce883; /* Light yellow */
  border: 2px solid #ffa500; /* Orange border */
}



